@model Amritnagar.Models.ViewModel.RelationshipMasterViewModel

@{
    ViewBag.Title = "RelationshipMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        width: 180px;
        height: 25px;
    }

    .sizebig {
        width: 350px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }

    select:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }
</style>

<form asp-controller="Admin" asp-action="RelationshipMaster" method="post" enctype="multipart/form-data">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        Relationship Master
    </div>
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-md-8 col-sm-12 col-12 border border-1 rounded border-danger">
                <div class="row mt-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        Relation Code:<br />
                        @Html.TextBoxFor(model => model.reln_id, new { @class = "size", @type = "text", @onkeypress = "javascript: return evtreln_id(event);" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        Description:<br />
                        @Html.TextBoxFor(model => model.reln_name, new { @class = "sizebig", @type = "text", @onkeypress = "javascript: return evtreln_name(event);" })
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-md-1 col-sm-12 col-12 ">
                        <input id="Btnsave" type="button" name="Btnsave" Height="40" Width="100" class="btn btn-primary btn-sm" value="Save" onclick="Save()" />
                    </div>
                    <div class="col-md-2 col-sm-12 col-12 ">
                        <input id="Btndelete" type="button" name="Btndelete" Height="40" Width="100" class="btn btn-primary btn-sm" value="Delete" onclick="Delete()" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-1 mt-1" align="center">
            <div class="row mt-4 justify-content-center">
                <div class="col-lg-10 col-md-12 col-sm-12 col-12" style="background-color:antiquewhite;color:firebrick;padding-top:5px;padding-bottom:5px;font-size:16px;font-weight:bold">
                    Relationship Particulars
                </div>
            </div>
            <div class="table-responsive mt-1">
                <table id="RelationshipDetailsTable" class="tab">
                </table>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#reln_id').focus();
            $('#Btndelete').hide();
            ShowTable();
        });

        function Save() {
                    let ModelObject = {
                        reln_id: $('#reln_id').val(),
                        reln_name: $('#reln_name').val(),
                    };
                    /*alert(JSON.stringify(ModelObject));*/
                    $.ajax({
                        url: '@Url.Action("SaveRelationshipMaster", "Admin")',
                        type: "POST",
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            $('#reln_id').val("");
                            $('#reln_name').val("");
                            ShowTable();
                            $('#reln_id').focus();
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }
                    });
        }

        function ShowTable() {
            let ModelObject = { reln_id: $('#reln_id').val()};
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("GetRelationshipDetailsTable", "Admin")',
                        data: ModelObject,
                        dataType: "json",
                    success: function (data) {
                        document.getElementById("RelationshipDetailsTable").innerHTML = data;
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });

        }

        (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', run);
            }

            function run() {
                var t = document.getElementById('RelationshipDetailsTable');
                t.onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    while (target && target.nodeName != 'TR') {
                        target = target.parentElement;
                    }

                    var cells = target.cells;
                    if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                        return;
                    }
                    var f1 = document.getElementById('reln_id');
                    var f2 = document.getElementById('reln_name');


                    f1.value = cells[1].innerHTML;
                    f2.value = cells[2].innerHTML;
                    $('#reln_name').focus();
                    $('#Btndelete').show();
                };
            }
        })();

        function Delete() {
            alert("Record will be deleted permanently. Confirm..........");
            let ModelObject = {
                reln_id: $('#reln_id').val(),
            };
                $.ajax({
                    type: "POST",
                         url: '@Url.Action("DeleteRelationship", "Admin")',
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            $('#reln_id').val("");
                            $('#reln_name').val("");
                            $('#reln_id').focus();
                            ShowTable();
                        },
                         error: function (err) {
                         }
                });
        }

        function evtreln_id(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#reln_name').focus();
            }
        }

        function evtreln_name(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#Btnsave').focus();
            }
        }
    </script>
}
