@model Amritnagar.Models.ViewModel.CashAccountReportViewModel

@{
    ViewBag.Title = "CashAccountReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        width: 170px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
       /* width: 400px;*/
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
           /* width: 400px;*/
            overflow: auto;
            height: 415px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
          /*  width: 400px;*/
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }



    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }


    .btn_size {
        width: 100px;
        height: 30px
    }

    .btn_arrow {
        width: 50px;
        padding: 8px;
        background-color: aliceblue;
        color: firebrick;
        font-size: 20px
    }
</style>
<form asp-controller="Account" asp-action="CashAccountReport" method="post" enctype="multipart/form-data">
    <div class="container" style="height:60px">

    </div>
    <div class="heading mt-4">
        Cash Account
    </div>
    <div class="container mt-2" style="margin-bottom:15px">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-1">
                    <div class="col-md-8 col-lg-8 col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                Branch<br />
                                @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = "size" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                Date From<br />
                                @Html.TextBoxFor(model => model.fr_dt, new { @class = "size", @type = "text", onkeypress = "javascript:return evtfr_dt(event);" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                Date To<br />
                                @Html.TextBoxFor(model => model.to_dt, new { @class = "size", @type = "text", onkeypress = "javascript:return evtto_dt(event);" })
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                Account Head<br />
                                @Html.TextBoxFor(p => p.ac_hd, new { @class = "size", @type = "text", onkeypress = "javascript:return evtachd(event);" })
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                                Account Desc<br />
                                @Html.TextBoxFor(p => p.ac_hddesc, new { @class = "size", @type = "text" })
                            </div>
                        </div>*@
                    </div>
                    <div class="col-md-4 col-lg-4 col-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-12 mt-3">
                                <input id="BtnRefresh" type="button" name="BtnRefresh" Height="40" Width="100" class="btn  btn-primary btn-sm" value="Refresh" onclick="BtnRefreshOnclick()" />

                            </div><div class="col-md-4 col-sm-4 col-12 mt-3">
                                <input id="BtnPrint" type="button" name="BtnPrint" Height="40" Width="100" class="btn  btn-primary btn-sm" value="Print" onclick="DownloadTextFiles()" />
                            </div>
                        
                            <div class="col-md-4 col-sm-12 col-12 mt-3">
                                <input id="BtnExit" type="button" name="BtnExit" Height="40" Width="100" class="btn  btn-sm btn-primary" value="Exit" onclick="ReloadPage()" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="table-responsive mt-1">
                                <table id="list" class="tab">
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>


</form>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#fr_dt').focus();           
        });
           
        function evtdaybook_dt(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#BtnRefresh').focus();
            }
        }

        function BtnRefreshOnclick() {
            let ModelObject = {
                ac_hd: $('#ac_hd').val(),
                branch: $('#branch').val(),
                fr_dt: $('#fr_dt').val(),
                to_dt: $('#to_dt').val(),
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDataforCashAccount", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    alert(data);
                    ShowTabel();
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function ShowTabel() {
            let ModelObject = {
                branch: $('#branch').val(),
            };
              $.ajax({
                type: "POST",
                url: '@Url.Action("getcashaccountlist", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    document.getElementById("list").innerHTML = data.tableele;
                },
                error: function (err) {
                    alert(err);
                }
              });
        }

        function DownloadTextFiles() {
            window.location.href = "@Url.Action("CashAccountPrintFiles", "Account")" + "?fr_dt=" + $('#fr_dt').val() + "&to_dt=" + $('#to_dt').val() + "&branch=" + $('#branch').val();
        }

        function evtfr_dt(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $('#to_dt').focus();
            }
        }

        function evtto_dt(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                BtnRefreshOnclick();
            }
        }

        function ReloadPage() {
            window.location.href = "@Url.Action("CashAccountReport", "Account")"
        }
    </script>
}
