@model Amritnagar.Models.ViewModel.OnLineCashReceiveViewModel

@{
    ViewBag.Title = "OnLineCashReceive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 150px;
        height: 25px;
    }

    .sizeM {
        width: 120px;
        height: 25px;
    }

    .sizeS {
        width: 50px;
        height: 25px;
    }

    .sizeM1 {
        width: 100px;
        height: 25px;
    }

    .sizeM_smry {
        width: 100px;
        height: 25px;
        background-color: white
    }

    .sizeS_smry {
        width: 50px;
        height: 25px;
        background-color: white
    }

    .sizeL {
        width: 400px;
        height: 25px;
    }

    .sizeL1 {
        width: 250px;
        height: 25px;
    }

    .sizebig {
        width: 180px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 900px;
            overflow: auto;
            height: 130px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 900px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }  
        .tab_rs {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 290px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab_rs tbody {
            display: block;
            width: 290px;
            overflow: auto;
            height: 150px;
            text-align: center;
        }

        .tab_rs td, .tab_rs th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 290px;
        }

        .tab_rs tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .tab_rs tr:nth-child(odd) {
            background-color: white;
        }

        .tab_rs tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab_rs th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    .tab1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab1 tbody {
            display: block;
            width: 900px;
            overflow: auto;
            /*height: 200px;*/
            text-align: center;
        }

        .tab1 td, .tab1 th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 900px;
        }

        .tab1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab1 tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab1 th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }
        .tab_rd {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab_rd tbody {
            display: block;
            width: 600px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab_rd td, .tab_rd th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 600px;
        }

        .tab_rd tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab_rd tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab_rd th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }

    .divBorder {
        border: 1px solid gray;
        background-color: papayawhip
    }

    .border-right {
        border-right: 2px solid white;
    }

    .divText {
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        z-index: 100;
        margin-top: -10px;
        color: firebrick;
        text-align: center
    }
</style>
<form asp-controller="Account" asp-action="OnLineCashReceive" method="post" enctype="multipart/form-data">
    <div class="container" style="height:60px">

    </div>
    <div class="heading mt-4">
        Miscellaneous Cash Receipts
    </div>
    <div class="container mt-2" style="margin-bottom:15px">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">

                <div class="row mt-2">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="color:brown;font-weight:bold">
                        CASH - CREDIT TRANSACTIONS
                    </div>

                </div>
                <div class="row mt-1">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = "size" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Date:<br />
                        @Html.TextBoxFor(model => model.date, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Shift:<br />
                        @Html.DropDownListFor(p => p.shift, new SelectList(new string[] { "EVENING", "GENERAL", "MORNING" }), new { @class = "size" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Counter:<br />
                        @Html.DropDownListFor(p => p.counter, new SelectList(Model.CounterDesc, "Value", "Text"), new { @class = "size", @onchange = "PopulateRecieptAndSummary()" })

                    </div>
                   <div class="col-md-2 col-sm-2 col-12 mt-3">
                       <input id="BtnDelete" type="button" name="BtnDelete" Height="40" Width="100" class="btn btn_size btn-primary btn-sm" value="Delete" onclick="DeleteReciept()" />
                   </div>
                   
                </div>
                <div class="row mt-1">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        Account Head:<br />
                        @Html.DropDownListFor(p => p.achd, new SelectList(Model.achddesc, "Value", "Text"), "Select", new { @class = "sizeL", @onchange= "changevch_noforac_hd()" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        Voucher No.: <br />
                        @Html.TextBoxFor(model => model.vch_no, new { @class = "size", @type = "text" })
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Account No.<br />
                        @Html.TextBoxFor(model => model.acc_no, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evt_acc_no(event);" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        Received From/Particulars:<br />
                        @Html.TextBoxFor(model => model.rcv_prtclr, new { @class = "sizeL1", @type = "text" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Amount:<br />
                        @Html.TextBoxFor(model => model.amt, new { @class = "size", @type = "text", onkeypress = "javascript:return evt_amt(event);" })
                    </div>

                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 border-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style=" background-color: rgba(231,205,167); color: brown;font-size:15px;font-weight:bold;text-align:center;text-transform:uppercase">
                                    P E R S O N A L &nbsp;&nbsp;  A C C O U N T &nbsp;&nbsp;  I N F O R M A T I O N S
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                                    Name
                                    @Html.TextBoxFor(model => model.name, new { @class = "sizeL1", @type = "text" })
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                    Opening Dt
                                    @Html.TextBoxFor(model => model.op_dt, new { @class = "sizeM", @type = "text" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 divBorder">

                            <div class="row mt-1">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-12 divText text-center">
                                    Due Payments (If Applicable)
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                    Cleared Upto:
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                                    @Html.TextBoxFor(model => model.clrd_upto, new { @class = "sizeM", @type = "text" })
                                </div>
                            </div>
                            <div class="row mt-1 mb-1">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                    Amount Due:
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    @Html.TextBoxFor(model => model.amt_due, new { @class = "sizeM", @type = "text" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id="personalaccountinfo" class="tab1">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color: rgba(231,205,167); color: brown; font-size: 15px; font-weight: bold; text-align: center; text-transform: uppercase">
                            P E R S O N A L &nbsp;&nbsp; L E D G E R  &nbsp;&nbsp;  I N F O R M A T I O N &nbsp;( L A T E S T )
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id="personalledgerinfo" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-12 border-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:indianred;color:white;font-size:15px;font-weight:bold;text-align:center;text-transform:uppercase">
                                    R E C E I P T &nbsp;&nbsp;  D E T A I L S
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                    <div class="table-responsive mt-1">
                                        <table id="recieptdetails" class="tab_rd">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12 divBorder">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:indianred;color:white;font-size:15px;font-weight:bold;text-align:center;text-transform:uppercase">
                                    R E C E I P T &nbsp;&nbsp; S U M M A R Y
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                                    <div class="table-responsive mt-1">
                                        <table id="recieptsummary" class="tab_rs">
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-1 p-1" style="background-color: rgba(231,205,167)">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="color: brown; font-size: 13px; font-weight: bold;">
                                    Summary
                                </div>
                                <div class="col-lg-2 col-sm-12 col-12">
                                    @Html.TextBoxFor(model => model.gt_head, new { @class = "sizeS_smry", @type = "text" })
                                </div>
                                <div class="col-lg-5 col-sm-12 col-12">
                                    @Html.TextBoxFor(model => model.gt_amt, new { @class = "sizeM_smry", @type = "text" })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
    {
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#loading').hide();
        });

        function GetpersonalAccountinformation() {
            let ModelObject = {
                branch: $('#branch').val(),
                acc_no: $('#acc_no').val(),
                achd: $('#achd').val(),
            };
              $.ajax({
                type: "POST",
                url: '@Url.Action("getpersonalaccountinformation", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    document.getElementById("personalaccountinfo").innerHTML = data.tableelement;
                    $("#name").val(data.name);
                    $("#rcv_prtclr").val(data.name);
                    $("#op_dt").val(data.op_dt);
                    $("#amt").val(data.amt);

                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Getpersonalledgerformation() {
            let ModelObject = {
                branch: $('#branch').val(),
                acc_no: $('#acc_no').val(),
                achd: $('#achd').val(),
            };
              $.ajax({
                type: "POST",
                url: '@Url.Action("getpersonalledgerinformation", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    document.getElementById("personalledgerinfo").innerHTML = data.tableelement;
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function PopulateRecieptAndSummary() {
            ShowTableForRecieptDetails();
            ShowTableForRecieptSummary();
        }

        function evt_acc_no(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                getvch_no();
                GetpersonalAccountinformation();
                Getpersonalledgerformation();
                $("#amt").focus();
            }
        }

        function SaveReciept() {
            $('#loading').show();
             let ModelObject = { branch: $('#branch').val(), date: $('#date').val(), shift: $('#shift').val(), counter: $('#counter').val(), vch_no: $('#vch_no').val(), achd: $('#achd').val(), acc_no: $('#acc_no').val(), name: $('#name').val(), amt: $('#amt').val()};
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("SaveCashRecieptData", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    alert(data);
                    $('#loading').hide();
                    ShowTableForRecieptDetails();
                    ShowTableForRecieptSummary();
                    $('#personalaccountinfo').hide();
                    $('#personalledgerinfo').hide();
                },
                error: function (err) {
                    alert("Error Occured");
                    $('#loading').hide();
                }
            });
        }

        function ShowTableForRecieptDetails() {
            let ModelObject = { branch: $('#branch').val(), shift: $('#shift').val(), date: $('#date').val(), counter: $('#counter').val()}
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("GetRecieptdetails", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    document.getElementById("recieptdetails").innerHTML = data.tableelement;
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }

        function ShowTableForRecieptSummary() {
            let ModelObject = { branch: $('#branch').val(), shift: $('#shift').val(), date: $('#date').val(), counter: $('#counter').val()}
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("GetRecieptSummary", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    document.getElementById("recieptsummary").innerHTML = data.tableelement;
                    get_tr();
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }

         function get_tr() {
             let ModelObject = { branch: $('#branch').val(), shift: $('#shift').val(), date: $('#date').val(), counter: $('#counter').val() };
                /*alert(JSON.stringify(ModelObject));*/
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Get_Last_TR", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        $('#gt_head').val(data.gt_head);
                        $('#gt_amt').val(data.gt_amt);
                    },
                    error: function (err) {
                        alert("Unable To Calculate");
                    }
                });
        }

        function changevch_noforac_hd() {
            getvch_no();
            $('#acc_no').focus();
        }

        function getvch_no() {
             let ModelObject = { branch: $('#branch').val(), shift: $('#shift').val(), date: $('#date').val(), counter: $('#counter').val() };
                /*alert(JSON.stringify(ModelObject));*/
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getvchno", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        $('#vch_no').val(data.vch_no);
                    },
                    error: function (err) {
                        alert("Unable To Calculate");
                    }
                });
         }

        function evt_amt(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                SaveReciept();
            }
        }

       function DeleteReciept() {
            $('#loading').show();
             let ModelObject = { achd: $('#achd').val(), vch_no: $('#vch_no').val(), date: $('#date').val(), acc_no: $('#acc_no').val()};
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("DeleteCashReciept", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    alert(data);
                    ShowTableForRecieptDetails();
                    ShowTableForRecieptSummary();
                    $('#personalaccountinfo').hide();
                    $('#personalledgerinfo').hide();
                    //$('#gt_head').val("");
                    //$('#gt_amt').val("");                   
                },
                error: function (err) {
                    alert("Error Occured");
                    $('#loading').hide();
                }
            });
         }

    </script>
}

