@model Amritnagar.Models.ViewModel.TrialBalanceReportViewModel

@{
    ViewBag.Title = "TrialBalanceReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        width: 170px;
        height: 25px;
    }

    .size2 {
        width: 140px;
        height: 25px;
        background-color: white
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 800px;
            overflow: auto;
            height: 300px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 800px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }



    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }


    .btn_size {
        width: 160px;
        height: 30px
    }

    .btn_arrow {
        width: 50px;
        padding: 8px;
        background-color: aliceblue;
        color: firebrick;
        font-size: 20px
    }
</style>
<form asp-controller="Account" asp-action="TrialBalanceReport" method="post" enctype="multipart/form-data">
    <div class="container" style="height:60px">

    </div>
    <div class="heading mt-4">
        Trial Balance
    </div>
    <div class="container mt-2" style="margin-bottom:15px">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-1">

                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), "Select", new { @class = "size" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Balance As On<br />
                        @Html.TextBoxFor(model => model.gl_date, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-md-2 col-lg-2 col-12 mt-3">
                        <input id="BtnRefreshList" type="button" name="BtnRefreshList" Height="40" Width="100" class="btn btn-primary btn-sm pull-right" value="Refresh List" onclick="BtnRefreshOnClick()" />
                    </div>

                    <div class="col-md-1 col-lg-1 col-sm-12 col-12 mt-3">
                        <input id="BtnPrint" type="button" name="BtnPrint" Height="40" Width="100" class="btn btn-sm btn-primary" value="Print" onclick="BtnprintOnClick()"/>
                    </div>
                    <div class="col-md-3 col-lg-3 col-12 mt-3">
                        <input id="BtnExitWindow" type="button" name="BtnExitWindow" Height="40" Width="100" class="btn btn-primary btn-sm" value="Exit Window" />

                    </div>
                </div>
                <div class="container mt-2">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id="list" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-1">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12" id="close" style="background-color: saddlebrown; color: floralwhite; font-size: 14px; font-weight: bold; text-align: center">
                        << Grand Total >>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-12" style="background-color:burlywood;color:brown">
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-4 col-sm-12 col-12">

                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">
                                @Html.TextBoxFor(model => model.label1, new { @class = "size2", @type = "text" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">
                                @Html.TextBoxFor(model => model.label2, new { @class = "size2", @type = "text" })
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</form>
@section scripts
    {
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //$("#debt_amt").val("0");
            //$("#crdt_amt").val("0");
            //$("#net_amt").val("0");
            $('#loading').hide();
        });
        function BtnRefreshOnClick() {
            let ModelObject = {
                branch: $('#branch').val(),
                gl_date: $('#gl_date').val(),

            };
              $.ajax({
                type: "POST",
                url: '@Url.Action("getdataforTrialBlance", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    document.getElementById("list").innerHTML = data.tableele;
                    $("#label1").val(data.label1);
                    $("#label2").val(data.label2);

                },
                error: function (err) {
                    alert(err);
                }
            });
        }
        function BtnprintOnClick() {
            let ModelObject = {
                branch: $('#branch').val(),
                gl_date: $('#gl_date').val(),

            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDataoftrialblance", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    alert(data);

                },
                error: function (err) {
                    alert(err);
                }
            });
        }



    </script>
}
