@model Amritnagar.Models.ViewModel.VoucherEntryViewModel

@{
    ViewBag.Title = "VoucherEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datepicker.css" rel="stylesheet" />
<style>
    .size {
        width: 150px;
        height: 25px;
    }

    .size_vt {
        width: 180px;
        height: 25px;
    }

    .sizeM {
        width: 120px;
        height: 25px;
    }

    .sizeM_whitebg {
        width: 140px;
        height: 25px;
        background-color: white
    }

    .sizeS {
        width: 50px;
        height: 25px;
    }

    .sizeM1 {
        width: 100px;
        height: 25px;
    }

    .sizeM_smry {
        width: 100px;
        height: 25px;
        background-color: white
    }

    .sizeS_smry {
        width: 65px;
        height: 25px;
        background-color: white
    }

    .sizeL {
        width: 250px;
        height: 25px;
    }

    .sizeXL {
        width: 300px;
        height: 25px;
    }

    .sizebig {
        width: 220px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    .tab_txt {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab_txt tbody {
            display: block;
            width: 1020px;
            overflow: auto;
            height: 120px;
            text-align: center;
        }

        .tab_txt td, .tab_txt th {
            border: 1px solid #ddd;
            padding: 5px;
            border-collapse: collapse;
            width: 1020px;
        }

        .tab_txt td {
            background-color: #ece9fb
        }
        /*.tab_txt tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .tab_txt tr:hover {
                background-color: rgba(255, 182, 193, 0.2);
            }
    */
        .tab_txt th {
            padding: 5px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: rgb(93, 67, 221,0.6);
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }
</style>

<form asp-controller="Account" asp-action="VoucherEntry" method="post" enctype="multipart/form-data">
    <div class="container" style="height:60px">

    </div>
    <div class="heading mt-4">
        Voucher Entry
    </div>
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1080px">

                <div class="row mt-1">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text")@*, "Select"*@, new
                        {
                            @class = "size"@*, @onchange= "changefocus()"*@})
                    </div>
                    @*<div class="col-lg-2 col-md-2 col-sm-12 col-12">
                Voucher Date:<br />
                @Html.TextBoxFor(model => model.vch_date, new { @class = "size", @type = "text", onkeypress = "javascript:return evtDate(event);" })
            </div>*@
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Voucher Date:<br />
                        @Html.TextBoxFor(model => model.vch_date, new { @class = "datepicker size", @id = "datepicker1", @type = "text", onkeypress = "javascript:return evtDate(event);" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Voucher No:<br />
                        @Html.TextBoxFor(model => model.txtvch_No, new { @class = "size", @type = "text", onkeypress = "javascript:return evt_txtvch_No(event);" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        <br />
                        @Html.DropDownListFor(p => p.vch_no, new SelectList(new string[] { "Select Voucher" }), new { @onchange = "GetVoucherList()", @class = "size" })
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12 col-12">
                        Voucher Type:<br />
                        @Html.DropDownListFor(p => p.vch_type, new SelectList(new string[] { "Select Voucher Type" }), new { @class = "size_vt", @onchange = "changefocusforvchtype()" })
                        @*@Html.DropDownListFor(p => p.vch_type, new SelectList(new string[] { "Cash", "Transfer" }), new { @class = "size" })*@
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-12 mt-3">
                        <input id="ButtonSave" type="button" value="Save" name="ButtonSave" class="btn btn-primary btn-sm" onclick="SaveVoucher()" />
                    </div>
                </div>

                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color: rgba(231,205,167); color: brown; font-size: 15px; font-weight: bold; text-align: center; text-transform: uppercase">
                            p a r t i c u l a r s &nbsp;&nbsp; o f  &nbsp;&nbsp;  t r a n s a c t i o n s
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <table class="tab_txt">
                                <tr>
                                    @*<th>Srl</th>*@
                                    <th>Dr/Cr</th>
                                    <th>Account Head</th>
                                    <th>Ac No</th>
                                    <th>Paid To/Recd.From/Perticulars</th>
                                    <th>Amount</th>
                                    <th>Ref.A/C Head</th>
                                    <th>Ref.A/C No</th>
                                    <th>Ref.A/C Particulars</th>
                                    <th>&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                                <tr>
                                    @*<td>@Html.TextBoxFor(model => model.srl, new { @class = "sizeS", @type = "text" })</td>*@
                                    <td>@Html.TextBoxFor(model => model.drcr, new { @class = "sizeS", @type = "text", onkeypress = "javascript:return evtdrcr(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.vch_achd, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evt_vch_achd(event);" })</td>
                                    @*<td><input id="vch_achd" name="vch_achd" type="text" size="20" value="" width="100" onkeypress="javascript:return evt_vch_achd(event);" /></td>*@
                                    <td>@Html.TextBoxFor(model => model.vchpacno, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtvchpacno(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.particular, new { @class = "size", @type = "text", onkeypress = "javascript:return evtparticular(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.amount, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtamount(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.ref_ac_hd, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evt_ref_ac_hd(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.refacno, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtvchAcno(event);" })</td>
                                    <td>@Html.TextBoxFor(model => model.refParticular, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtrefparticular(event);" })</td>
                                    <td><input id="ButtonAdd" type="button" value="ADD" name="ButtonAdd" class="btn btn-primary btn-sm" onclick="addvoucher()" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <img id="loading" src="~/wwwroot/Images/LoadingGif.gif" />
                            <div class="table-responsive mt-1">
                                <table id="TempVchData" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container p-1" style="border: 1px solid; border-color: darkslateblue; background-color: rgb(216, 191, 216,0.5); color: #722F37;font-weight:bold;font-size:14px">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">

                        </div>
                        <div class="col-lg-3 col-sm-12 col-12">
                            Debit Amount @Html.TextBoxFor(model => model.debt_amt, new { @class = "sizeM", @type = "text" })
                        </div>
                        <div class="col-lg-3 col-sm-12 col-12">
                            Credit Amount @Html.TextBoxFor(model => model.crdt_amt, new { @class = "sizeM", @type = "text" })
                        </div>
                        <div class="col-lg-3 col-sm-12 col-12">
                            Net Amount @Html.TextBoxFor(model => model.net_amt, new { @class = "sizeM", @type = "text" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <table class="tab_txt" id="rowmodify">
                            <tr>
                                <th>Srl</th>
                                <th>Dr/Cr</th>
                                <th>Account Head</th>
                                <th>Ac No</th>
                                <th>Paid To/Recd.From/Perticulars</th>
                                <th>Amount</th>
                                <th>Ref.A/C Head</th>
                                <th>Ref.A/C No</th>
                                <th>Ref.A/C Particulars</th>
                                <th>&nbsp;&nbsp;&nbsp;</th>
                            </tr>
                            <tr>
                                <td>@Html.TextBoxFor(model => model.srl, new { @class = "sizeS", @type = "text" })</td>
                                <td>@Html.TextBoxFor(model => model.drcr1, new { @class = "sizeS", @type = "text", onkeypress = "javascript:return evtdrcr1(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.vch_achd1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evt_vch_achd1(event);" })</td>
                                @*<td><input id="vch_achd" name="vch_achd" type="text" size="20" value="" width="100" onkeypress="javascript:return evt_vch_achd(event);" /></td>*@
                                <td>@Html.TextBoxFor(model => model.vchpacno1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtvchpacno1(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.particular1, new { @class = "size", @type = "text", onkeypress = "javascript:return evtparticular1(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.amount1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtamountformodification(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.ref_ac_hd1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evt_ref_ac_hd1(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.refacno1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtrefacno1(event);" })</td>
                                <td>@Html.TextBoxFor(model => model.refParticular1, new { @class = "sizeM1", @type = "text", onkeypress = "javascript:return evtrefParticular1(event);" })</td>
                                <td><input id="ButtonInsert" type="button" value="INSERT" name="ButtonInsert" class="btn btn-primary btn-sm" onclick="voucherModify()" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color: rgba(231,205,167); color: brown; font-size: 15px; font-weight: bold; text-align: center; text-transform: uppercase">
                            c h e q u e &nbsp;&nbsp; p a r t i c u l a r s
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id="" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-1 p-2" style="background-color: #fafad2;color:saddlebrown;font-weight:bold;font-size:14px;border:1px solid; border-color:saddlebrown">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12 col-12">

                        </div>
                        <div class="col-lg-4 col-sm-12 col-12">
                            Total Cheque Amount @Html.TextBoxFor(model => model.tot_chq_amt, new { @class = "sizeM_whitebg", @type = "text" })
                        </div>
                    </div>
                </div>

                <div class="container mt-1 p-2" style="color:saddlebrown;font-weight:bold;font-size:14px;border:1px solid; border-color:saddlebrown">
                    <div class="row">

                        <div class="col-lg-3 col-sm-12 col-12">
                            @Html.TextBoxFor(model => model.del_vch_no, new { @class = "sizebig", @type = "text" })
                        </div>
                        <div class="col-lg-6 col-sm-12 col-12">
                            <input id="ButtonDelVchNo" type="button" value="Delete by VCH No" name="ButtonDelVchNo" class="btn btn-primary btn-sm" onclick="DeleteTempVoucher()" />
                        </div>
                        <div class="col-lg-3 col-sm-12 col-12">
                            <input id="btnViewTempData" type="button" value="View Temp Data" name="btnViewTempData" class="btn btn-primary btn-sm" onclick="ShowTableforTempData()" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="table-responsive mt-1">
                            <table id="Tempdata" class="tab">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color: rgba(231,205,167); color: brown; font-size: 15px; font-weight: bold; text-align: center; text-transform: uppercase">
                            N a r r a t i o n
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
    {
    @*<script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>*@
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#datepicker1').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });
           /* $("#datepicker1").datepicker({ dateFormat: "dd/mm/yyyy" }).datepicker("setDate", new Date());*/

            $("#debt_amt").val("0");
            $("#crdt_amt").val("0");
            $("#net_amt").val("0");
            $('#loading').hide();
            $('#rowmodify').hide();
            //$('#datepicker1').focus();

            $("#vch_achd").autocomplete({
                source: function (request, response) {
                    let ModelObject = { vch_achd: $('#vch_achd').val() };
                    $.ajax({
                        url: "/Account/AchdListForVoucherEntry",
                        type: "POST",
                        dataType: "json",
                        data: ModelObject,
                        success: function (data) {
                            response($.map(data, function (achd) {
                                return { label: achd.ac_parti, value: achd.ac_hd };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? 'results' : 'result ') + 'found';
                    }
                }
            });

            $("#ref_ac_hd").autocomplete({
                source: function (request, response) {
                    let ModelObject = { vch_achd: $('#ref_ac_hd').val() };
                    $.ajax({
                        url: "/Account/AchdListForVoucherEntry",
                        type: "POST",
                        dataType: "json",
                        data: ModelObject,
                        success: function (data) {
                            response($.map(data, function (achd) {
                                return { label: achd.ac_parti, value: achd.ac_hd };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? 'results' : 'result ') + 'found';
                    }
                }
            });

            $("#vch_achd1").autocomplete({
                source: function (request, response) {
                    let ModelObject = { vch_achd: $('#vch_achd1').val() };
                    $.ajax({
                        url: "/Account/AchdListForVoucherEntry",
                        type: "POST",
                        dataType: "json",
                        data: ModelObject,
                        success: function (data) {
                            response($.map(data, function (achd) {
                                return { label: achd.ac_parti, value: achd.ac_hd };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? 'results' : 'result ') + 'found';
                    }
                }
            });

            GetVoucherType();
        });

        //function changefocus() {
        //    $('#vch_date').focus();
        //}

        function changefocusforvchtype() {
            $('#drcr').focus();
        }

        function evtDate(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetVoucherNo();
            }
        }

        function GetVoucherNo() {
            var branch = $('#branch').val();
            var vch_date = $('#datepicker1').val();
            $.ajax({
                url: '@Url.Action("FillVoucherNo", "Account")',
            type: "GET",
            dataType: "JSON",
                data: {branch: branch, vch_date: vch_date},
                success: function (vchnos) {
                    $("#vch_no").html(""); // clear before appending new list
                    $.each(vchnos, function (i, c) {
                        $("#vch_no").append(
                    $('<option></option>').val(c.value).html(c.text));
                    });
                    $('#txtvch_No').focus();
                    //$("#vch_no").focus();
                }
            });
        }

         function GetVoucherType() {
            //var branch = $('#branch').val();
            //var vch_date = $('#vch_date').val();
            $.ajax({
                url: '@Url.Action("FillVoucherType", "Account")',
            type: "GET",
            dataType: "JSON",
                data: {/*branch: branch, vch_date: vch_date*/},
                success: function (vchtypes) {
                    $("#vch_type").html(""); // clear before appending new list
                    $.each(vchtypes, function (i, c) {
                        $("#vch_type").append(
                    $('<option></option>').val(c.value).html(c.text));
                    });
                    /*$("#vch_no").focus();*/
                }
            });
        }

        function GetVoucherList() {
            let ModelObject = {
                vch_date: $('#datepicker1').val(),
                vch_no: $('#vch_no').val(),
                branch: $('#branch').val(),
            };
              $.ajax({
                type: "POST",
                url: '@Url.Action("GetVoucherDetailsList", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    document.getElementById("TempVchData").innerHTML = data.tableElement;
                    $("#debt_amt").val(data.debt_amt);
                    $("#crdt_amt").val(data.crdt_amt);
                    $("#net_amt").val(data.net_amt);
                    $("#vch_type").val(data.vch_type);
                    /*$("#vch_DrCr").val(data.vch_DrCr);*/
                    $('#ButtonSave').prop('disabled', true);
                    $('#vch_type').focus();
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function addvoucher() {
             //alert("OK")
            if ($('#txtvch_No').val() == null || $('#txtvch_No').val() == "" ) {
                alert("Voucher No Can't Be Empty");
            }
            else if ($('#vch_type').val() == "Select Voucher Type") {
                alert("Please Choose Voucher Type");
            }
            else {
                    let ModelObject = {
                    vch_date: $('#datepicker1').val(),
                    drcr: $('#drcr').val(),
                    vch_achd: $('#vch_achd').val(),
                    vchpacno: $('#vchpacno').val(),
                    particular: $('#particular').val(),
                    amount: $('#amount').val(),
                    ref_ac_hd: $('#ref_ac_hd').val(),
                    refacno: $('#refacno').val(),
                    refParticular: $('#refParticular').val(),
                    vch_no: $('#txtvch_No').val(),
                    vch_type: $('#vch_type').val()
                    };
                    //alert(JSON.stringify(ModelObject));
                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("Add_Vch_In_Temp_table", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data)
                    {
                        ShowTable();
                        $('#vchpacno').val("");
                        $('#drcr').val("");
                        $('#particular').val("");
                        $('#amount').val("");
                        $('#refacno').val("");
                        $('#refParticular').val("");
                        $('#ref_ac_hd').val("");
                        $('#vch_achd').val("");
                        $('#drcr').focus();
                    },
                    error: function (err) {
                        alert(err);
                    }
                    });
                 }
        }

        function ShowTable() {
            let ModelObject = { vch_date: $('#datepicker1').val(), vch_no: $('#txtvch_No').val()};
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("GetTempData", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                  document.getElementById("TempVchData").innerHTML = data;
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }

        function evtamount(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetAmount();
            }
        }

        function GetAmount() {
             let ModelObject = {
                 vch_date: $('#datepicker1').val(),
                 vch_no: $('#txtvch_No').val()
             };
              $.ajax({
                type: "POST",
                url: '@Url.Action("GetamountForvchEntry", "Account")',
                data: ModelObject,
                dataType: "json",
                  success: function (data)
                  {
                    //alert(data);
                      if ($('#drcr').val() == "D" || $('#drcr').val() == "d") {
                        $("#debt_amt").val(parseFloat(data.debt_amt) + parseFloat($('#amount').val()));
                    }
                    else {
                        $("#crdt_amt").val(parseFloat(data.crdt_amt) + parseFloat($('#amount').val()));
                    }
                    $("#net_amt").val(parseFloat($('#crdt_amt').val()) - parseFloat($('#debt_amt').val()));
                    $("#ref_ac_hd").focus();
                },
                error: function (err) {
                    alert(err);
                }
             });
       }

        function evtamountformodification(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetAmountForModification();
            }
        }

        function GetAmountForModification() {
             let ModelObject = {
                 amount1: $('#amount1').val(),
                 drcr1: $('#drcr1').val(),
             };
              $.ajax({
                type: "POST",
                url: '@Url.Action("GetamountForvchModify", "Account")',
                data: ModelObject,
                dataType: "json",
                  success: function (data)
                  {
                    //alert(data);
                      if ($('#drcr1').val() == "D" || $('#drcr1').val() == "d") {
                        $("#debt_amt").val(parseFloat(data.debt_amt));
                      }
                      else {
                        $("#crdt_amt").val(parseFloat(data.crdt_amt));
                      }
                    $("#net_amt").val(parseFloat($('#crdt_amt').val()) - parseFloat($('#debt_amt').val()));
                      $("#ref_ac_hd1").focus();
                  },
                error: function (err) {
                    alert(err);
                }
             });
        }

        function voucherModify() {
            //alert("OK")
            let ModelObject = {
                vch_date: $('#datepicker1').val(),
                drcr: $('#drcr1').val(),
                vch_achd: $('#vch_achd1').val(),
                vchpacno: $('#vchpacno1').val(),
                particular: $('#particular1').val(),
                amount: $('#amount1').val(),
                ref_ac_hd: $('#ref_ac_hd1').val(),
                refacno: $('#refacno1').val(),
                refParticular: $('#refParticular1').val(),
                txtvch_No: $('#txtvch_No').val(),
                srl: $('#srl').val(),
            };
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteAndAddNewRowInTempTable", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    ShowTable();
                    $('#vchpacno1').val("");
                    $('#drcr1').val("");
                    $('#particular1').val("");
                    $('#amount1').val("");
                    $('#refacno1').val("");
                    $('#refParticular1').val("");
                    $('#ref_ac_hd1').val("");
                    $('#vch_achd1').val("");
                    $('#rowmodify').hide();
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function evtparticular(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#amount").focus();
            }
        }

        function evtrefparticular(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#ButtonAdd").focus();
            }
        }

        function evtdrcr(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#vch_achd").focus();
            }
        }

        function evt_vch_achd(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#vchpacno").focus();
            }
        }

        function evt_ref_ac_hd(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#refacno").focus();
            }
        }

         function SaveVoucher() {
            $('#loading').show();
             let ModelObject = { vch_date: $('#datepicker1').val(), txtvch_No: $('#txtvch_No').val(), vch_Type: $('#vch_type').val(), Vch_narr: $('#Vch_narr').val(), branch_id: $('#branch').val()};
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("SaveVoucherData", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    alert(data);
                    $('#loading').hide();
                    ShowTable();
                    $('#debt_amt').val("0");
                    $('#crdt_amt').val("0");
                    $('#net_amt').val("0");
                    $('#txtvch_No').val("");
                    //$('#vch_type').val("");
                    $('#Vch_narr').val("");
                    document.getElementById("Tempdata").innerHTML = "";
                },
                error: function (err) {
                    alert("Error Occured");
                    $('#loading').hide();
                }
            });
         }

        function DeleteTempVoucher() {
            if ($('#del_vch_no').val() == null || $('#del_vch_no').val() == "") {
                alert("Voucher No Cannot Be Blank");
            }
            else {
                 //alert("OK")
            let ModelObject = {
                vch_no: $('#del_vch_no').val()
            };
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete_Vch_In_Temp_table_byVchNo", "Account")',
                data: ModelObject,
                dataType: "json",
                success: function (data)
                {
                    alert(data);
                    $('#del_vch_no').val("");
                    ShowTable();
                    $('#drcr').val("");
                    $('#debt_amt').val("0");
                    $('#crdt_amt').val("0");
                    $('#net_amt').val("0");
                    $('#vch_DrCr').val("");
                    document.getElementById("Tempdata").innerHTML = "";
                    $('#drcr').focus();
                },
                error: function (err) {
                    alert(err);
                }
            });
            }
        }

        function evtvchpacno(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetParticularPacno();
            }
        }

        function GetParticularPacno() {

            if ($('#vchpacno').val() != null && $('#vchpacno').val() != "") {
                let ModelObject = {
                    vch_achd: $('#vch_achd').val(),
                    vchpacno: $('#vchpacno').val(),
                    branch: $('#branch').val(),
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetParticularsForvchEntry", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        if (data.clos_flag == "C") {
                            if (confirm("Specified Account No.is Closed. Do you want to continue?")) {
                                $('#particular').val(data.particular);
                            }
                            else
                                $('#particular').val("");
                        }
                        else {
                            //alert(data.particulars);
                            $('#particular').val(data.particular);
                        }
                        $("#particular").focus();
                    },
                    error: function (err) {
                        //alert(err);
                        $("#particular").focus();
                    }
                });
            }
            else {
                $('#particular').val("");
                $("#particular").focus();
            }
        }

        function evtvchAcno(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetParticularAcno();
            }
        }

       function GetParticularAcno() {
            if ($('#refacno').val() != null && $('#refacno').val() != "") {
                let ModelObject = {
                    vch_achd: $('#ref_ac_hd').val(),
                    vchpacno: $('#refacno').val(),
                    branch: $('#branch').val(),
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetParticularsForvchEntry", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        if (data.clos_flag == "C") {
                            if (confirm("Specified Account No.is Closed. Do you want to continue?")) {
                                $('#refParticular').val(data.particular);
                            }
                            else
                                $('#refParticular').val("");
                        }
                        else {
                            //alert(data.particulars);
                            $('#refParticular').val(data.particular);
                        }
                        $("#refParticular").focus();

                    },
                    error: function (err) {
                        //alert(err);
                        $("#refParticular").focus();
                    }
                });
            }
            else {
                $('#refParticular').val("");
                $("#refParticular").focus();
            }
        }

        function evt_txtvch_No(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                if ($('#txtvch_No').val() == "") {
                    alert("Voucher No Can't Be Empty");
                }
                else {
                    $("#vch_type").focus();
                }
            }
        }

         (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);

            } else if (window.attachEvent) {
                window.attachEvent('onload', run);

            }

            function run() {
                var t = document.getElementById('TempVchData');
                t.onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    while (target && target.nodeName != 'TR') {
                        target = target.parentElement;
                    }

                    var cells = target.cells;
                    if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                        return;
                    }
                    var f1 = document.getElementById('srl');
                    var f2 = document.getElementById('drcr1');
                    var f3 = document.getElementById('vch_achd1');
                    var f4 = document.getElementById('vchpacno1');
                    var f5 = document.getElementById('particular1');
                    var f6 = document.getElementById('amount1');
                    var f7 = document.getElementById('ref_ac_hd1');
                    var f8 = document.getElementById('refacno1');
                    var f9 = document.getElementById('refParticular1');

                    f1.value = cells[0].innerHTML;
                    f2.value = cells[1].innerHTML;
                    f3.value = cells[2].innerHTML;
                    f4.value = cells[3].innerHTML;
                    f5.value = cells[4].innerHTML;
                    f6.value = cells[5].innerHTML;
                    f7.value = cells[6].innerHTML;
                    f8.value = cells[7].innerHTML;
                    f9.value = cells[8].innerHTML;
                    $('#rowmodify').show();
                    $('#drcr1').focus();
                };
            }
        })();

        function evtdrcr1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#vch_achd1").focus();
            }
        }

        function evt_vch_achd1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#vchpacno1").focus();
            }
        }

        function GetParticularPacnoforinsertnewrow() {
             if ($('#vchpacno1').val() != null && $('#vchpacno1').val() != "") {
                let ModelObject = {
                    vch_achd: $('#vch_achd1').val(),
                    vchpacno: $('#vchpacno1').val(),
                    branch: $('#branch').val(),
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetParticularsForvchEntry", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        if (data.clos_flag == "C") {
                            if (confirm("Specified Account No.is Closed. Do you want to continue?")) {
                                $('#particular1').val(data.particular);
                            }
                            else
                                $('#particular1').val("");
                        }
                        else {
                            //alert(data.particulars);
                            $('#particular1').val(data.particular);
                        }
                        $("#particular1").focus();
                    },
                    error: function (err) {
                        //alert(err);
                        $("#particular1").focus();
                    }
                });
            }
            else {
                $('#particular1').val("");
                $("#particular1").focus();
             }
         }

        function evtvchpacno1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetParticularPacnoforinsertnewrow();
                //$("#particular1").focus();
            }
        }

        function evtparticular1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#amount1").focus();
            }
        }

        function evt_ref_ac_hd1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#refacno1").focus();
            }
        }

        function GetReferenceParticularPacnoforinsertnewrow() {
            if ($('#refacno1').val() != null && $('#refacno1').val() != "") {
                let ModelObject = {
                    vch_achd: $('#ref_ac_hd1').val(),
                    vchpacno: $('#refacno1').val(),
                    branch: $('#branch').val(),
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetParticularsForvchEntry", "Account")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {
                        if (data.clos_flag == "C") {
                            if (confirm("Specified Account No.is Closed. Do you want to continue?")) {
                                $('#refParticular1').val(data.particular);
                            }
                            else
                                $('#refParticular1').val("");
                        }
                        else {
                            //alert(data.particulars);
                            $('#refParticular1').val(data.particular);
                        }
                        $("#refParticular1").focus();
                    },
                    error: function (err) {
                        //alert(err);
                        $("#refParticular1").focus();
                    }
                });
            }
            else {
                $('#refParticular1').val("");
                $("#refParticular1").focus();
            }
        }

        function evtrefacno1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                GetReferenceParticularPacnoforinsertnewrow();
                //$("#refParticular1").focus();
            }
        }

        function evtrefParticular1(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if ((charCode < 106 || charCode > 95) && (charCode < 58 || charCode > 47) && charCode != 13 && charCode == 191 && charCode == 111 && (charCode < 65 || charCode > 90))
                return false;
            else if (charCode == 13) {
                $("#ButtonInsert").focus();
            }
        }

        function ShowTableforTempData() {
            let ModelObject = { vch_date: $('#datepicker1').val()};
            //alert(JSON.stringify(ModelObject));
            $.ajax({
                type: "POST",
                     url: '@Url.Action("gettempdetails", "Account")',
                    data: ModelObject,
                    dataType: "json",
                success: function (data) {
                    if (data.tableelement == null) {
                        alert("No Temporary Data Available On " + $('#datepicker1').val());
                    }
                    else {
                        document.getElementById("Tempdata").innerHTML = data.tableelement;
                    }                   
                },
                error: function (err) {
                alert("Error Occured");
                }
            });
        }
    </script>
}


