@model Amritnagar.Models.ViewModel.RecoveryFrmSalaryDeductionViewModel

@{
    ViewBag.Title = "RecoveryFrmSalaryDeduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 180px;
        height: 25px;
    }

    .size1 {
        width: 150px;
        height: 25px;
    }

    .sizeM {
        width: 100px;
        height: 25px;
    }

    .sizeS {
        width: 50px;
        height: 25px;
    }

    .sizeL {
        width: 250px;
        height: 25px;
    }

    .sizebig {
        width: 300px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 250px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    .tab1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab1 tbody {
            display: block;
            width: 600px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab1 td, .tab1 th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 600px;
        }

        .tab1 tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab1 tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab1 th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }

    .size2 {
        width: 150px;
        height: 25px;
        background-color: white
    }
</style>
<form asp-controller="Member" asp-action="RecoveryFrmSalaryDeduction" method="post">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        Recovery From Salary Deduction
    </div>
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-2">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), "Select", new { @class = "size" })
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                        Schedule Date<br />
                        @Html.TextBoxFor(p => p.sch_dt, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-12 col-12">
                        Recovery Date <br />
                        @Html.TextBoxFor(p => p.rec_dt, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-12 mt-3">
                        <input id="BtnRefresh" type="button" name="BtnRefresh" Height="40" Width="100" class="btn btn-primary btn-sm" value="Refresh" onclick="Btnrefreshonclick()" />

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12 mt-3">
                        <input id="BtnSave" type="button" name="BtnSave" Height="40" Width="100" class="btn btn-primary btn-sm" value="Save Dividend" onclick="btnsaveonclick()" />

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Employer Name
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        @Html.DropDownListFor(p => p.emplyer_name, new SelectList(Model.EmpDesc, "Value", "Text"), "Select", new { @class = "sizeL" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Employer Unit
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        @Html.DropDownListFor(p => p.emp_unit, new SelectList(Model.EmpBranchDesc, "Value", "Text"), "Select", new { @class = "sizeL", @onchange = "Filldeductachd()" })
                    </div>
                </div> 
                <div class="row mt-2">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Deduction A/c Head
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        @Html.DropDownListFor(p => p.ded_achd, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), "Select Subcategory", new { @class = " size" })
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        Recovery A/c Head
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                        @Html.DropDownListFor(p => p.rec_dt, new SelectList(Model.EmpBranchDesc, "Value", "Text"), "Select", new { @class = "size1" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Book No
                        @Html.TextBoxFor(p => p.book_no, new { @class = "sizeS", @type = "text" })
                    </div>
                </div>
                <div class="container mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:indianred;color:white;font-size:15px;font-weight:bold;text-align:center;text-transform:uppercase">
                            Salary Deduction List
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id=" " class="tab">
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:indianred;color:white;font-size:15px;font-weight:bold;text-align:center;text-transform:uppercase">
                            Recovery at a Glance
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="table-responsive mt-1">
                                <table id="list" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-1">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12" style="background-color: brown; color: floralwhite; font-size: 14px; font-weight: bold; text-align: center">
                        << Total >>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="background-color:burlywood;color:brown">

                        <div class="row mt-1 mb-1">
                            <div class="col-lg-3 col-sm-12 col-12">

                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">
                                @Html.TextBoxFor(model => model.prnt_bal, new { @class = "size2", @type = "text" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">

                                @Html.TextBoxFor(model => model.int_bal, new { @class = "size2", @type = "text" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">

                                @Html.TextBoxFor(model => model.tot_bal, new { @class = "size2", @type = "text" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section scripts
{
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading").hide();
            //$("#frm_dt").hide();
            //$("#to_dt").hide();
        });

        function Btnrefreshonclick() {
            $("#loading").show();
            /*alert("ok");*/
            let ModelObject = {
                ded_achd: $('#ded_achd').val(),
                branch: $('#branch').val(),
                emplyer_name: $('#emplyer_name').val(),
                emp_unit: $('#emp_unit').val(),
                book_no: $('#book_no').val(),
                sch_dt: $('#sch_dt').val(),

            };
            /*alert(JSON.stringify(ModelObject));*/
            $.ajax({
                type: "POST",
                url: '@Url.Action("getRecoveryFrmSalaryDeductionList", "SalaryDeduction")',
                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    $("#loading").hide();
                    document.getElementById("list").innerHTML = data.grid1;



                },
                error: function (err) {
                    alert("Unable To Calculate");
                }
            });

        };


        function Filldeductachd() {
            var emplyer_name = $('#emplyer_name').val();
            var emp_unit = $('#emp_unit').val();
            $.ajax({
                url: '@Url.Action("getdeductlist", "SalaryDeduction")',
                type: "GET",
                dataType: "JSON",
                data: { emplyer_name: emplyer_name, emp_unit: emp_unit },
                success: function (subcategories) {
                    $("#ded_achd").html(""); // clear before appending new list
                    $.each(subcategories, function (i, sc) {
                        $("#ded_achd").append(
                            $('<option></option>').val(sc.Value).html(sc.Text));
                    });
                }
            });

        };
        function btnsaveonclick() {
            $("#loading").show();
            $('#forsave').val("Savedata");
            /*alert("ok");*/
            let ModelObject = {
                ac_hd: $('#ac_hd').val(),
                fr_dt: $('#fr_dt').val(),
                colliery_code: $('#colliery_code').val(),
                branch: $('#branch').val(),
                ex_gen: $('#ex_gen').val(),
                to_dt: $('#to_dt').val(),
                book_no: $('#book_no').val(),
                inst: $('#inst').val(),
                post_dt: $('#post_dt').val(),
                forsave: $('#forsave').val(),
            };
            /*alert(JSON.stringify(ModelObject));*/
            $.ajax({
                type: "POST",
                url: '@Url.Action("getLIstForDividendpost", "Dividend")',
                data: ModelObject,
                dataType: "json",
                success: function (data) {
                    //alert(data);
                    $("#loading").hide();
                },
                error: function (err) {
                    alert("Unable To Calculate");
                    $("#loading").hide();

                }
            });

        };

        (function () {
            if (window.addEventListener) {
                window.addEventListener('load', run, false);
            }
            else if (window.attachEvent) {
                window.attachEvent('onload', run);
            }

            function run() {
                var t = document.getElementById('list');
                t.onclick = function (event) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;
                    while (target && target.nodeName != 'TR') {
                        target = target.parentElement;
                    }

                    var cells = target.cells;
                    if (!cells.length || target.parentNode.nodeName == 'THEAD') {
                        return;
                    }
                    var f1 = document.getElementById('member_id');

                    f1.value = cells[1].innerHTML;
                    getdividentledger();
                };
            }
        })();
        function getdividentledger() {

                /*alert("ok");*/
            let ModelObject = {
                member_id: $('#member_id').val(),
                branch: $('#branch').val(),
            };
                /*alert(JSON.stringify(ModelObject));*/
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getDividendLedgerBymember_id", "Dividend")',
                    data: ModelObject,
                    dataType: "json",
                    success: function (data) {

                        document.getElementById("list2").innerHTML = data.tableelement1;



                    },
                    error: function (err) {
                        alert("Unable To Calculate");
                    }
                });

        };
    </script>
}
