@model Amritnagar.Models.ViewModel.MemberDetailListViewModel

@{
    ViewBag.Title = "MemberDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 180px;
        height: 25px;
    }

    .sizeWh {
        width: 180px;
        height: 25px;
        background-color: white
    }

    .size1 {
        width: 130px;
        height: 25px;
    }

    .size1Wh {
        width: 130px;
        height: 25px;
        background-color: white
    }

    .sizeM {
        width: 80px;
        height: 25px;
        background-color: white
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 900px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 900px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }
</style>
<form asp-controller="Member" asp-action="MemberDetailList" method="post">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        Member's Details List
    </div>
    <div class="container mt-2">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row mt-1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                Unit<br />
                                @Html.DropDownListFor(p => p.unit, new SelectList(Model.EmpBranchDesc, "Value", "Text"), "Select Unit", new { @class = "size" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                Book No.<br />
                                @Html.TextBoxFor(p => p.book_no, new { @class = "size", @type = "text" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <input id="BtnRefresh" type="button" name="BtnRefresH" Height="40" Width="100" class="btn btn-primary btn-sm" value="Refresh" onclick="ShowTable()" />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                As On Date:<br />
                                @Html.TextBoxFor(p => p.on_date, new { @class = "size", @type = "text" })
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                                <input id="BtnPrint" type="button" name="BtnPrinT" Height="40" Width="100" class="btn btn-primary btn-sm" value="Print" @*onclick="DownloadTextFiles()"*@ />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                                Total Member:<br />
                                @Html.TextBoxFor(p => p.total_mem, new { @class = "size1", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12 ">
                                <input id="BtnRefInt" type="button" name="BtnRefInt" Height="40" Width="100" class="btn btn-primary btn-sm" value="Refresh Without Interest" onclick="ShowTableWithoutinterest()" />
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="row mt-2" style="color:red;font-weight:bold">
                            Process Going On.....
                        </div>
                        <div class="row mt-2" style="background-color: rgb(204, 204, 255,0.6);color:darkblue">
                            <div class="row mt-1">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                    Bank Code<br />
                                    @Html.TextBoxFor(p => p.bank_code, new { @class = "sizeWh", @type = "text" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                                    <input id="BtnRefresh" type="button" name="BtnRefresh" Height="40" Width="100" class="btn btn-primary btn-sm" value="Refresh" />
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                    Bank Name<br />
                                    @Html.TextBoxFor(p => p.bank_name, new { @class = "sizeWh", @type = "text" })
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 ">
                                    <input id="BtnPrint" type="button" name="BtnPrint" Height="40" Width="100" class="btn btn-primary btn-sm" value="Print" />
                                </div>
                            </div>
                            <div class="row mt-1 mb-2">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    Post Date:<br />
                                    @Html.TextBoxFor(p => p.post_date, new { @class = "size1Wh", @type = "text" }) @Html.TextBoxFor(p => p.text1, new { @class = "size1Wh", @type = "text" }) @Html.TextBoxFor(p => p.text2, new { @class = "size1Wh", @type = "text" })
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
                <div class="container mt-1">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:indianred;color:white;font-size:15px;font-weight:bold;text-align:center">
                            Book Wise Member's Details List
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <img id="loading" src="~/wwwroot/Images/LoadingGif.gif" width="180" height="100" />
                            <div class="table-responsive mt-1">
                                <table id="MemberDetailsList" class="tab">
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-2" style="background-color: rgb(244,164,96,0.45); font-size: 13px; font-weight: bold ">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="row mt-1" style="color:saddlebrown">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Share<br />
                                @Html.TextBoxFor(p => p.shtot, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Gurantee Fund<br />
                                @Html.TextBoxFor(p => p.to_gf, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1" style="color:saddlebrown">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                Thrift Fund<br />
                                @Html.TextBoxFor(p => p.tf, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                Int TF<br />
                                @Html.TextBoxFor(p => p.to_itf, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="color:saddlebrown">
                                Int GF
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">

                                @Html.TextBoxFor(p => p.to_igf, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="row mt-1" style="color:saddlebrown">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Loan Principal
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Loan Interest
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                16.5
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_16_5, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_16_5, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                14.5
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_14_5, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_14_5, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                13
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_13, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_13, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                10
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_10, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_10, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="row mt-1" style="color:saddlebrown">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Loan Principal
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Loan Interest
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                DLL
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_dll, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_dll, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                14
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_14, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_14, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                12.5
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_12_5, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_12_5, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                12.75
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_12_75, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_int_12_75, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        <div class="row mt-1" style="color:saddlebrown">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Loan Principal
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 text-center">
                                Interest
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                11.5
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_11_5, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.int_11_5, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                9
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_9, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.int_9, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                13.75
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_13_75, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.int_13_75, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                                13.5
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.ln_prncl_13_5, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                @Html.TextBoxFor(p => p.int_13_5, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#loading").hide();
        });

        function ShowTable() {
            $("#loading").show();
            let ModelObject = { unit: $('#unit').val(), book_no: $('#book_no').val(), on_date: $('#on_date').val() };
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("getmemberdetailslistbybookno", "Member")',
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                        $("#loading").hide();
                        document.getElementById("MemberDetailsList").innerHTML = data.tableelement;
                        $('#shtot').val(data.shtot);
                        $('#to_gf').val(data.to_gf);
                        $('#tf').val(data.tf);
                        $('#to_itf').val(data.to_itf);
                        $('#to_igf').val(data.to_igf);
                        $('#ln_prncl_16_5').val(data.ln_prncl_16_5);
                        $('#ln_int_16_5').val(data.ln_int_16_5);
                        $('#ln_prncl_14_5').val(data.ln_prncl_14_5);
                        $('#ln_int_14_5').val(data.ln_int_14_5);
                        $('#ln_prncl_13').val(data.ln_prncl_13);
                        $('#ln_int_13').val(data.ln_int_13);
                        $('#ln_prncl_10').val(data.ln_prncl_10);
                        $('#ln_int_10').val(data.ln_int_10);
                        $('#ln_prncl_dll').val(data.ln_prncl_dll);
                        $('#ln_int_dll').val(data.ln_int_dll);
                        $('#ln_prncl_14').val(data.ln_prncl_14);
                        $('#ln_int_14').val(data.ln_int_14);
                        $('#ln_prncl_12_5').val(data.ln_prncl_12_5);
                        $('#ln_int_12_5').val(data.ln_int_12_5);
                        $('#ln_prncl_12_75').val(data.ln_prncl_12_75);
                        $('#ln_int_12_75').val(data.ln_int_12_75);
                        $('#ln_prncl_11_5').val(data.ln_prncl_11_5);
                        $('#int_11_5').val(data.int_11_5);
                        $('#ln_prncl_9').val(data.ln_prncl_9);
                        $('#int_9').val(data.int_9);
                        $('#ln_prncl_13_75').val(data.ln_prncl_13_75);
                        $('#int_13_75').val(data.int_13_75);
                        $('#ln_prncl_13_5').val(data.ln_prncl_13_5);
                        $('#int_13_5').val(data.int_13_5);
                        $('#total_mem').val(data.total_mem);
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }

        function ShowTableWithoutinterest() {
            $("#loading").show();
            let ModelObject = { unit: $('#unit').val(), book_no: $('#book_no').val(), on_date: $('#on_date').val() };
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("getmemberledgerdetailswithoutinterestbybookno", "Member")',
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                        $("#loading").hide();
                        document.getElementById("MemberDetailsList").innerHTML = data.tableelement;
                        $('#shtot').val(data.shtot);
                        $('#to_gf').val(data.to_gf);
                        $('#tf').val(data.tf);
                        $('#ln_prncl_16_5').val(data.ln_prncl_16_5);
                        $('#ln_prncl_14_5').val(data.ln_prncl_14_5);
                        $('#ln_prncl_13').val(data.ln_prncl_13);
                        $('#ln_prncl_10').val(data.ln_prncl_10);
                        $('#ln_prncl_dll').val(data.ln_prncl_dll);
                        $('#ln_prncl_14').val(data.ln_prncl_14);
                        $('#ln_prncl_12_5').val(data.ln_prncl_12_5);
                        $('#ln_prncl_12_75').val(data.ln_prncl_12_75);
                        $('#ln_prncl_11_5').val(data.ln_prncl_11_5);
                        $('#ln_prncl_9').val(data.ln_prncl_9);
                        $('#total_mem').val(data.total_mem);
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }

        function DownloadTextFiles() {
             window.location.href = "@Url.Action("MemberDetailsPrintfile", "Member")" + "?unit=" + $('#unit').val() + "&book_no=" + $('#book_no').val() + "&on_date=" + $('#on_date').val() + "&shtot=" + $('#shtot').val() + "&to_gf=" + $('#to_gf').val() + "&tf=" + $('#tf').val() + "&to_itf=" + $('#to_itf').val() + "&to_igf=" + $('#to_igf').val() + "&ln_prncl_16_5=" + $('#ln_prncl_16_5').val() + "&ln_int_16_5=" + $('#ln_int_16_5').val() +
                 "&ln_prncl_14_5=" + $('#ln_prncl_14_5').val() + "&ln_int_14_5=" + $('#ln_int_14_5').val() + "&ln_prncl_13=" + $('#ln_prncl_13').val() +
                 "&ln_int_13=" + $('#ln_int_13').val() + "&ln_prncl_10=" + $('#ln_prncl_10').val() + "&ln_int_10=" + $('#ln_int_10').val() + "&ln_prncl_dll=" + $('#ln_prncl_dll').val() +
                 "&ln_int_dll=" + $('#ln_int_dll').val() + "&ln_prncl_14=" + $('#ln_prncl_14').val() + "&ln_int_14=" + $('#ln_int_14').val() + "&ln_prncl_12_5=" + $('#ln_prncl_12_5').val() + "&ln_int_12_5=" + $('#ln_int_12_5').val() +
                 "&ln_prncl_12_75=" + $('#ln_prncl_12_75').val() + "&ln_int_12_75=" + $('#ln_int_12_75').val() + "&ln_prncl_11_5=" + $('#ln_prncl_11_5').val() + "&int_11_5=" + $('#int_11_5').val() +
                 "&ln_prncl_9=" + $('#ln_prncl_9').val() + "&int_9=" + $('#int_9').val() + "&ln_prncl_13_75=" + $('#ln_prncl_13_75').val() + "&int_13_75=" + $('#int_13_75').val() + "&int_13_5=" + $('#int_13_5').val();
         }




    </script>
}