@model Amritnagar.Models.ViewModel.MemDepositeFundDetailListViewModel

@{
    ViewBag.Title = "MemDepositeFundDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .size {
        width: 180px;
        height: 25px;
    }

    .size2 {
        width: 150px;
        height: 25px;
        background-color: white
    }
    .size1 {
        width: 150px;
        height: 25px;
    }

    .sizeM {
        width: 100px;
        height: 25px;
    }

    .sizeS {
        width: 50px;
        height: 25px;
    }

    .sizeL {
        width: 180px;
        height: 25px;
    }

    .sizebig {
        width: 300px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
         width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
             width: 1000px;
            overflow: auto;
            height: 280px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
             width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }

    .textHead {
        background-color: maroon;
        color: gold;
        font-family: 'Times New Roman';
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .divBorder {
        border: 1px solid gray;
    }

    .divText {
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        z-index: 100;
        margin-top: -10px;
        color: firebrick;
        text-align: center
    }
</style>
<form asp-controller="Member" asp-action="MemDepositeFundDetailList" method="post">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        Member's Deposite Fund Detail List
    </div>
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-2">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        Branch<br />
                        @Html.DropDownListFor(p => p.branch, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = "size" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        G/L Account Head <br />
                        @Html.DropDownListFor(p => p.gl_achd, new SelectList(Model.achddesc, "Value", "Text"), "Select", new { @class = "size" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        As On Date<br />
                        @Html.TextBoxFor(p => p.on_dt, new { @class = "size", @type = "text" })
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="table-responsive">
                            <table id=" " class="tab">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-1">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12" id="close" style="background-color: saddlebrown; color: floralwhite; font-size: 14px; font-weight: bold; text-align: center">
                        << Summary >>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-12" style="background-color:burlywood;color:brown">
                        <div class="row mt-1 mb-1">
                            <div class="col-lg-3 col-sm-12 col-12">

                            </div>
                            <div class="col-lg-3 col-sm-12 col-12 text-center">
                                @Html.TextBoxFor(model => model.prnt_bal, new { @class = "size2", @type = "text" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12 text-center">
                                @Html.TextBoxFor(model => model.int_bal, new { @class = "size2", @type = "text" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12 text-center">
                                @Html.TextBoxFor(model => model.tot_bal, new { @class = "size2", @type = "text" })
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
