@model HomeoStore.Models.ViewModel.UsersViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        height: 30px;
        width: 100px;
    }

    .sizesmall {
        height: 30px;
        width: 25px;
    }

    .sizebig {
        height: 30px;
        width: 250px;
    }

    .rounded-corners {
        border-spacing: 10px;
        border-collapse: separate;
        border-radius: 10px;
        border: 1px solid green;
    }
</style>
<form asp-controller="Users" asp-action="Add" method="post">
    <div>
        <div>
            <table align="center">
                <tr>
                    <td colspan="4">
                        <H6 class="bg-danger text-center p-2">ADD NEW USER</H6>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td >
                        Branch
                    </td>
                    <td>
                        User Name
                    </td>
                    <td>
                        User Id
                    </td>
                    <td>
                        Password
                    </td>
                    </tr>
                <tr>
                    <td>
                        @Html.DropDownListFor(p => p.BranchId, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = " size" })
                    </td>
                    <td>
                        @Html.TextBoxFor(p => p.UserName, new { @class = "size" })
                    </td>
                    <td>
                        @Html.TextBoxFor(p => p.UserID, new { @class = "size" })
                    </td>
                    <td>
                        @Html.TextBoxFor(p => p.Password, new { @class = "size" })
                    </td>
                    </tr>
                <tr>
                
                    <td>
                        Role 
                    </td>
                    <td>
                        Mobile No.
                    </td>
                    <td>
                        Email-Id
                    </td>
                    <td>
                        Max Discount Allowed(%) 
                    </td>
                    </tr>
                <tr>
                    <td>
                         @Html.DropDownListFor(p => p.Role, new SelectList(new string[] {"ADMIN","User" }), new { @class = "size" })
                    </td>
                    <td>
                         @Html.TextBoxFor(p => p.MobileNo, new { @class = "size", @type = "number" })
                    </td>
                    <td>
                         @Html.TextBoxFor(p => p.EmailId, new { @class = "size" })

                    </td>
                    <td>
                        @Html.TextBoxFor(p => p.Disc, new { @class = "size" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input id="btnSave" type="submit" name="btnSave" Height="40" Width="100" class="btn btn-primary pull-right" value="Save" />
                    </td>

                </tr>
            </table>




        </div>
        <div align="center">
            <table align="center">
                <tr>
                    <td>
                        <h5 style="color: darkred; background-color: bisque">@Html.DisplayFor(model => model.msg, new { @class = "size", @type = "text" })</h5>
                    </td>
                </tr>
            </table>
        </div>
       
    </div>
</form>

