@model Amritnagar.Models.ViewModel.MonthlyInterestScheduleForLoanViewModel

@{
    ViewBag.Title = "MonthlyInterestScheduleForLoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        width: 150px;
        height: 25px;
    }

    .sizeM {
        width: 100px;
        height: 25px;
    }

    .sizeL {
        width: 180px;
        height: 25px;
    }

    .sizebig {
        width: 230px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }

    select:focus {
        background-color: rgba( 255, 182, 193, 0.3);
    }

    .border-right {
        border-right: 1px solid black;
    }

    .border-top {
        border-top: 1px solid black;
    }

    .textHead {
        background-color: maroon;
        color: gold;
        font-family: 'Times New Roman';
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px
    }

    .divText {
        font-size: 12px;
        font-weight: bold;
        background-color: white;
        z-index: 100;
        margin-top: -10px;
        color: firebrick;
    }
</style>

<form asp-controller="Loan" asp-action="MonthlyInterestScheduleForLoan" method="post" enctype="multipart/form-data">
    <div class="container" style="height:60px">

    </div>
    <div class="heading mt-4">
        Monthly Interest Schedule For Loan
    </div>
    <div class="container mt-2" style="margin-bottom:15px">
        <div class="row justify-content-md-center">
            <div class="col-lg-11 col-md-11 col-sm-12 col-12 border border-1 rounded border-danger" style="width:1000px">
                <div class="row mt-2">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                        Colliery Code:
                        @Html.DropDownListFor(model => model.colliery_code, new SelectList(Model.EmpBranchDesc, "Value", "Text"), "Select Account Head", new { @class = "sizebig" })

                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                        <input id="BtnPopulate" type="button" name="BtnPopulate" Height="40" Width="100" class="btn btn-primary btn-sm" value="Populate" onclick="ShowTable()" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                        <input id="BtnPost" type="button" name="BtnPost" Height="40" Width="100" class="btn btn-primary btn-sm" value="Post" onclick="BtnpostOnclick()"/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Branch:<br />
                        @Html.DropDownListFor(model => model.branch_id, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = "sizebig" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Loan Account Head:<br />
                        @Html.DropDownListFor(model => model.ln_achd, new SelectList(Model.lntypedesc, "Value", "Text"), "Select Account Head", new { @class = "sizebig" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Book No:<br />
                        @Html.TextBoxFor(model => model.book_no, new { @class = "size", @type = "text" })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Schedule Date:<br />
                        @Html.TextBoxFor(model => model.sch_date, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Date From:<br />
                        @Html.TextBoxFor(model => model.fr_dt, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Date To:<br />
                        @Html.TextBoxFor(model => model.to_dt, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                        Voucher Date:<br />
                        @Html.TextBoxFor(model => model.vch_dt, new { @class = "size", @type = "text" })
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center p-1" style="background-color:lightblue;color:darkblue;text-transform:uppercase;font-weight:bold">
                        List of existing loans with interest creditable
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="table-responsive">
                            <img id="loading" src="~/wwwroot/Images/LoadingGif.gif" />
                            <table id="data" class="tab">
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 mb-3 border border-1 border-dark">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12" id="open" style="background-color:firebrick;color:white;font-size:14px;font-weight:bold;text-align:center">
                        << Summary >>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-12 text-center mb-1 mt-1">
                        Principal Balance: @Html.TextBoxFor(model => model.prcl_bal, new { @class = "size", @type = "text" })
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-12 text-center mt-1 mb-1">
                        Interest Debitable: @Html.TextBoxFor(model => model.inst_debt, new { @class = "size", @type = "text" })
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section scripts
{
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
    <script src="~/Content/js/jquery-3.6.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#loading").hide();
            //$("#frm_dt").hide();
            //$("#to_dt").hide();
        });

        function ShowTable() {
            $("#loading").show();
           let ModelObject = {
               branch_id: $('#branch_id').val(),
               colliery_code: $('#colliery_code').val(),
               branch_id: $('#branch_id').val(),
               ln_achd: $('#ln_achd').val(),
               book_no: $('#book_no').val(),
               sch_date: $('#sch_date').val(),
               fr_dt: $('#fr_dt').val(),
               to_dt: $('#to_dt').val(),

           };
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("populateDataMonthlyInterestScheduleForLoan", "Loan")',
                        data: ModelObject,
                        dataType: "json",
                    success: function (data) {
                        document.getElementById("data").innerHTML = data.tableelement;
                        $('#prcl_bal').val(data.prcl_bal);
                        $('#inst_debt').val(data.inst_debt);
                        $("#loading").hide();
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }
        function BtnpostOnclick() {
            $("#loading").show();
           let ModelObject = {
               branch_id: $('#branch_id').val(),
               colliery_code: $('#colliery_code').val(),
               branch_id: $('#branch_id').val(),
               ln_achd: $('#ln_achd').val(),
               book_no: $('#book_no').val(),
               sch_date: $('#sch_date').val(),
               fr_dt: $('#fr_dt').val(),
               to_dt: $('#to_dt').val(),
               vch_dt: $('#vch_dt').val(),

           };
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("postMonthlyIntrest", "Loan")',
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {
                            alert(data);
                            $("#loading").hide();
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }


    </script>
}