@model Amritnagar.Models.ViewModel.MemberOpeningandClosingRegViewModel

@{
    ViewBag.Title = "NewLoanAndLoanClosingReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .size {
        width: 150px;
        height: 25px;
    }

    .sizeM {
        width: 100px;
        height: 25px;
    }

    .sizeSmall {
        width: 50px;
        height: 25px;
    }

    .sizeXS {
        width: 40px;
        height: 25px;
    }

    .sizeL {
        width: 180px;
        height: 25px;
    }

    .sizebig {
        width: 350px;
        height: 25px;
    }

    .heading {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: saddlebrown;
        font-size: 30px;
        text-align: center;
    }

    .tab {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        border-collapse: collapse;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

        .tab tbody {
            display: block;
            width: 1000px;
            overflow: auto;
            height: 200px;
            text-align: center;
        }

        .tab td, .tab th {
            border: 1px solid #ddd;
            padding: 8px;
            border-collapse: collapse;
            width: 1000px;
        }

        .tab tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .tab tr:hover {
            background-color: rgba(255, 182, 193, 0.2);
        }

        .tab th {
            padding: 8px;
            text-align: center;
            /*background-color: #04AA6D;*/
            background-color: firebrick;
            font-size: 12px;
            color: white;
            position: sticky;
            top: 0;
        }

    input {
        background-color: rgb(226,148,91,0.2)
    }

    select {
        background-color: rgb(226,148,91,0.2)
    }

    input:focus {
        background-color: rgba( 226,148,91, 0.6);
    }

    select:focus {
        background-color: rgba(226,148,91, 0.6);
    }

</style>
<form asp-controller="Loan" asp-action="NewLoanAndLoanClosingReg" method="post" enctype="multipart/form-data">
    <div class="container" style="height:70px">

    </div>
    <div class="heading mt-4">
        New Loan & Loan Closing Register
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 border border-1 rounded border-danger">
                        <div class="row mt-2">
                            <div class="col-lg-10 col-md-10 col-sm-12 col-12">

                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                                <input id="BtnRefresh" type="button" name="BtnRefresh" Height="40" Width="100" class="btn btn-primary btn-sm" value="Refresh" onclick="ShowTable()" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-12">
                                <input id="BtnPrint" type="button" name="BtnPrint" Height="40" Width="100" class="btn btn-primary btn-sm" value="Print" onclick="DownloadTextFiles()" />
                            </div>
                        </div>
                        <div class="row mt-1 mb-2">
                            <div class="col-lg-2  col-sm-12 col-12">
                                Search Option :<br />
                                @Html.DropDownListFor(p => p.searchtype, new SelectList(new string[] { "Select Searchtype", "New Loan", "Closing" }), new { @class = "size", @onchange = "showhide()" })
                            </div>
                            <div class="col-lg-2  col-sm-12 col-12">
                                Branch:<br />
                                @Html.DropDownListFor(model => model.branch_id, new SelectList(Model.BranchDesc, "Value", "Text"), new { @class = "size" })
                            </div>
                            <div class="col-lg-3 col-sm-12 col-12">
                                A/C Head:<br />
                                @Html.DropDownListFor(model => model.ac_hd, new SelectList(Model.lntypedesc, "Value", "Text"), "Select Account Head", new { @class = "sizel" })
                            </div>
                            <div class="col-lg-2  col-sm-12 col-12">
                                From Date:<br />
                                @Html.TextBoxFor(model => model.fr_dt, new { @class = "sizeM", @type = "text" })
                            </div>
                            <div class="col-lg-2  col-sm-12 col-12">
                                To Date:<br />
                                @Html.TextBoxFor(model => model.to_dt, new { @class = "sizeM", @type = "text" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center mt-1">
            <div class="col-lg-12 col-12 text-center" id="openingDiv">
                <div class="row mt-1 row justify-content-md-center">
                    <div class="col-lg-3  col-sm-12 col-12" style="background-color:lightblue;color:darkblue;font-size:14px;font-weight:bold;text-align:center">
                        New Loan
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive mt-2">
                        <table id="NewLoanTab" class="tab">
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-md-center mt-1">
            <div class="col-lg-12 col-12 text-center" id="closingDiv">
                <div class="row mt-1 row justify-content-md-center">
                    <div class="col-lg-3  col-sm-12 col-12" style="background-color:lightcoral;color:firebrick;font-size:14px;font-weight:bold;text-align:center">
                        Closing
                    </div>

                </div>
                <div class="row">
                    <div class="table-responsive mt-2">
                        <table id="ClosingTab" class="tab">
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-4 mb-2 justify-content-md-center">
        <div class="col-lg-11 col-md-11 col-sm-12 col-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12" id="open" style="background-color:cornflowerblue;color:white;font-size:14px;font-weight:bold;text-align:center">
                    << Opening Summary >>
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                </div>
                <div class="col-lg-3 col-sm-12 col-12">
                    @Html.TextBoxFor(model => model.tot_xtopprin, new { @class = "size", @type = "text" })
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12" id="close" style="background-color:firebrick;color:white;font-size:14px;font-weight:bold;text-align:center">
                    << Closing Summary >>
                </div>
                <div class="col-lg-4 col-sm-12 col-12">
                </div>
                <div class="col-lg-3 col-sm-12 col-12">
                    @Html.TextBoxFor(model => model.tot_cl_loan_amt, new { @class = "size", @type = "text" })
                </div>
                <div class="col-lg-2 col-sm-12 col-12">
                    @Html.TextBoxFor(model => model.tot_cl_prin_amt, new { @class = "size", @type = "text" })
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts
{
    <script type="text/javascript" src="~/Content/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#open").show();
            $("#close").hide();
            $("#closingDiv").hide();
            $("#tot_cl_loan_amt").hide();
            $("#tot_cl_prin_amt").hide();           
        });

        function ShowTable() {
            let ModelObject = { searchtype: $('#searchtype').val(), branch_id: $('#branch_id').val(), ac_hd: $('#ac_hd').val(), fr_dt: $('#fr_dt').val(), to_dt: $('#to_dt').val()};
                    $.ajax({
                    type: "POST",
                         url: '@Url.Action("getloanopeningclosinglist", "Loan")',
                        data: ModelObject,
                        dataType: "json",
                        success: function (data) {                       
                        if ($('#searchtype').val() == "New Loan") {
                            document.getElementById("NewLoanTab").innerHTML = data.tableelement;
                            $('#tot_xtopprin').show();
                            $('#tot_xtopprin').val(data.tot_xtopprin);                         
                            $("#openingDiv").show();
                            $("#closingDiv").hide();
                            $("#tot_cl_loan_amt").hide();
                            $("#tot_cl_prin_amt").hide();                           
                            $("#close").hide();
                            $("#open").show();
                        }
                        else {
                            document.getElementById("ClosingTab").innerHTML = data.tableelement;
                            $('#tot_cl_loan_amt').val(data.tot_cl_loan_amt);
                            $('#tot_cl_prin_amt').val(data.tot_cl_prin_amt);
                            $('#tot_cl_loan_amt').show();
                            $('#tot_cl_prin_amt').show();
                            $('#tot_xtopprin').hide();
                            $("#closingDiv").show();
                            $("#openingDiv").hide();
                            $("#close").show();
                            $("#open").hide();
                        }
                    },
                     error: function (err) {
                    //alert("Error Occured");
                     }
                    });
        }

        function DownloadTextFiles() {
            window.location.href = "@Url.Action("LoanOpeningClosingListPrintFile", "Loan")" + "?searchtype=" + $('#searchtype').val() + "&branch_id=" + $('#branch_id').val() + "&ac_hd=" + $('#ac_hd').val() + "&fr_dt=" + $('#fr_dt').val() + "&to_dt=" + $('#to_dt').val();
        }
    </script>
}
